.header {
  padding-bottom: 1px;
  /* margin-bottom: 20px; */
  position: relative;
  height: 147px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
}

.header .logo {
  width: fit-content;
  margin: 0 auto;
  padding: 20px 0;
}

.header .logo img {
  width: 200px;
}

.header nav {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.header nav > a,
.header .dropdown > a {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 600;
  color: black;
  position: relative;
  transition: scale;
  display: flex;
  align-items: center;
  gap: 5px;
}

.header nav > a::after,
.header nav .dropdown > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--accent);
  transition: transform 0.2s ease;
  transform: scaleX(0);
}

.header nav a:hover::after {
  transform: scaleX(1);
}

.nav-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(1) !important;
  height: 3px;
  background-color: black;
}

.header nav > .search {
  margin-left: auto;
  font-size: 18px;
}

.header .nav-dropdown {
  height: 300px;
}

.nav-dropdown {
  position: absolute;
  width: 80%;
  margin: auto;
  background-color: #fff;
  top: 180px;
  left: 0;
  right: 0;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 200ms ease-in-out;
  pointer-events: none;
  display: grid;
  grid-template-columns: 1fr 8fr;
  z-index: 999;
}

.cricket-dropdown:hover .cricket-dropdown-content,
.football-dropdown:hover .football-dropdown-content,
.other-sports-dropdown:hover .other-sports-dropdown-content {
  transition: all 300ms ease-in-out;
  top: 148px;
  opacity: 1;
  pointer-events: auto;
}

.header .subcategories {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 30px 0 30px 30px;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
}

.header .subcategories a {
  font-size: 15px;
  font-weight: 500;
  transition: color 0.2s ease-in;
}

.header .subcategories a:hover {
  color: var(--accent);
}

.hoveredCat {
  color: var(--accent);
}

.header .suggested-news {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 30px 20px;
}

.header .news .image-container {
  height: 150px;
}

.header .suggested-news p {
  font-size: 12px;
  margin-top: 3px;
}

.header .news .news-content {
  margin-top: 10px;
}

.header .search {
  position: relative;
}

.header .search .searchContainer {
  position: absolute;
  right: 0;
  top: 70px;
  opacity: 0;
  transition: all 300ms ease-in-out;
  pointer-events: none;
}

.header .searchBar {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.header .search .searchContainerOpen {
  transition: all 300ms ease-in-out;
  top: 120%;
  opacity: 1;
  pointer-events: auto;
  z-index: 999;
}

.header .searchBar input {
  width: 500px;
  height: 30px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  padding: 0 10px;
}

.header .searchBar button {
  height: 30px;
  display: flex;
  align-items: center;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header .searchedProducts {
}
