.latestPostContainer{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.latestNewsWrapper .homeCatNav{
    border-bottom: 2px solid  rgb(242,89,42);
}

.latestNewsWrapper .homeCatNav p{
background-color: #f2592a;
}