.moreSports {
    margin-top: 20px;
    /* height: 50vh; */
}

.moreSports .homeCatNav {
    border-bottom: 2px solid rgb(1, 133, 1);
}

.moreSportsPost {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 80px);
    gap:20px 30px;
}

.moreSportsFirst{
    grid-row: 1/5;
}

.moreSportsFirst .home-cricket-content h2{
font-size: 22px;
}

.moreSportsRemain{
    display: flex;
    gap: 30px;
    /* height: 70px; */
}

.moreSportsRemain img{
width: 35%;
height: 100%;
object-fit: cover;
}