.allSportsPost .banner {
  height: 445px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 0 40% !important;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.allSportsPost .banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.allSportsPost .banner h2 {
  color: white;
  font-size: 36px;
  z-index: 1;
  letter-spacing: -1px;
  font-weight: 600;
}

.allSportsPost .banner .subs {
  z-index: 2;
  margin-block: 10px;
}

.allSportsPost .banner span {
  color: white;
  padding: 3px 10px 2px;
  margin-right: 10px;
  font-size: 13px;
  border-radius: 2px;
  font-weight: 400;
  transition: background-color 0.2s ease;
  cursor: pointer;
  font-weight: 500;
}

.allSportsPost .banner span:first-child {
  background-color: var(--accent-tint-20);
}

.allSportsPost .banner span:nth-child(2) {
    background-color: var(--accent-tint-30);
}

.allSportsPost .banner span:nth-child(3) {
    background-color: var(--accent-tint-40);
}

.allSportsPost .banner span:first-child:hover, .allSportsPost .banner span:nth-child(2):hover, .allSportsPost .banner span:nth-child(3):hover{
  background-color: var(--accent-shade-40);

}

.allSportsPost:is(.cricket-posts-layout) .banner {
  background: url("../../../assets/images/Banner-Image/CricketBanner.jpg");
}
