.header {
  padding-bottom: 1px;
  margin-bottom: 20px;
  position: relative;
  height: 143px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
}

.header .logo {
  padding: 30px 0;
}

.header nav {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.header nav a {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 600;
  color: black;
  position: relative;
  transition: scale;
  display: flex;
  align-items: center;
  gap: 5px;
}

.header nav > a::after,
.header nav .dropdown > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  transition: transform 0.3s ease-in-out;
  transform: scaleX(0);
}

.header nav a:hover::after {
  transform: scaleX(1);

  background-color: black;
}

.nav-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(1) !important;
  height: 3px;
  background-color: black;
}

.header nav > svg {
  margin-left: auto;
  font-size: 18px;
}

.nav-dropdown {
  position: absolute;
  width: 80%;
  margin: auto;
  background-color: #fff;
  top: 180px;
  left: 0;
  right: 0;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 300ms ease-in-out;
  pointer-events: none;
}

.cricket-dropdown:hover .cricket-dropdown-content ,
.football-dropdown:hover .football-dropdown-content,
.other-sports-dropdown:hover .other-sports-dropdown-content
 {
  transition: all 300ms ease-in-out;
  top: 143px;
  opacity: 1;
  pointer-events: auto;
}

.header .subcategories {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 30px 20px;
}

.header .subcategories a {
  font-size: 15px;
}
