@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans Bengali", sans-serif;
}

.container {
    width: 1050px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

.homeWrapper{
    display: flex;
    gap: 30px;
}

.leftWrapper{
    width: 70%;
}

.rightWrapper{
    width: 30%;
}